@charset "UTF-8";

#goShop {
    text-align: center;
    margin: 40px 0 20px 0; /* 상단 여백을 40px로 설정하여 상단 간격을 조정 */
}

#goShop button {
    background-color: #e9ecef;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#goShop button:hover {
    background-color: #dee2e6;
}

#buyList {
    width: 80%;
    margin: 0 auto 40px auto; /* 하단 여백을 40px로 설정하여 하단 간격을 조정 */
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#buyList ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#buyList ul li {
    font-size: 18px;
    color: #666;
}

.buyTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.buyTable td, .buyTable th {
    border: 1px solid #ccc;
    padding: 15px; /* padding을 15px로 늘려서 셀 간격을 조정 */
    text-align: center;
}

.buyTable th {
    background: #f9f9f9;
    font-weight: bold;
}

.cartimage {
    width: 50px;
    height: auto;
    vertical-align: middle;
}

.b {
    font-weight: bold;
    text-align: right;
    padding: 10px 0;
    font-size: 18px;
    color: #333;
    margin: 20px 0; /* 상하단 여백을 20px로 설정하여 간격을 조정 */
}
