@charset "UTF-8";
/* form.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#lStatus {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#lStatus ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#lStatus li {
    margin-bottom: 15px;
}

#lStatus label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#lStatus input[type="email"],
#lStatus input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#lStatus button {
    width: calc(50% - 10px);
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

#lStatus button:hover {
    background-color: #0056b3;
}

#info {
    margin-top: 20px;
}

#info table {
    width: 100%;
}

#info td {
    padding: 5px;
}

#info button,
#info input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#info button:hover,
#info input[type="submit"]:hover {
    background-color: #218838;
}
