@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#listHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    gap: 10px;
}

.headerText {
    font-size: 18px;
    color: #333;
}

#listHeader button {
    background-color: #e9ecef;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 10px;
}

#listHeader button:hover {
    background-color: #dee2e6;
}

#goods {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.goodsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.goodsTable th, .goodsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.titleRow {
    background-color: #f2f2f2;
    font-weight: bold;
}

.dataRow:hover {
    background-color: #f9f9f9;
}

.outOfStock {
    color: red;
}

.editButton, .deleteButton {
    background-color: #e9ecef;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.deleteButton {
	color: white;
}

.editButton:hover {
    background-color: #dee2e6;
}

.deleteButton {
    background-color: #f44336; 
}

.deleteButton:hover {
    background-color: #d32f2f;
}
