body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

#content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mList {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
}

#mList ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

#mList ul li {
    margin: 10px 0;
    font-size: 1.2em;
}

#mList button {
    width: 200px;
    padding: 10px;
    font-size: 1em;
    color: #333;
    background-color: #e9ecef;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#mList button:hover {
    background-color: #dee2e6;
}
