@charset "UTF-8";

#listHeader {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    text-align: right;
}

#listHeader p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 18px;
}

#listHeader button {
    background-color: #dee2e6;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#listHeader button:hover {
    background-color: #ced4da;
}

#orders {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
}

#orders table {
    width: 100%;
    border-collapse: collapse;
}

#orders table tr.title {
    background-color: #f2f2f2;
}

#orders table tr.title td {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}

#orders table tr td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#orders table tr td.b {
    text-align: right;
    font-weight: bold;
}
