@charset "UTF-8";

#qnaHeader {
    text-align: center;
    margin: 20px auto;
}

#qnaHeader button {
    background-color: #dee2e6;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#qnaHeader button:hover {
    background-color: #ced4da;
}

#qnaList {
	  width: 700px;
	  margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#qnaList ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;
}

#qnaList ul li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#qnaList ul li.re {
    background-color: #f1f1f1;
    border-left: 5px solid #4CAF50;
}

#qnaList ul li p {
    margin-bottom: 10px;
}

#qnaList ul li p small.date {
    color: #888;
}

#qnaList ul li p button {
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#qnaList ul li p button:hover {
    background-color: #007B9E;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}
