@charset "UTF-8";

#writeForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin: 20px auto;
}

.box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.box ul li {
    margin-bottom: 20px;
}

.box ul li p {
    margin-bottom: 10px;
}

.box ul li label {
    display: block;
    margin-bottom: 5px;
}

.box ul li textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.box ul li.label2 {
    text-align: center;
}

.box ul li.label2 button {
    background-color: #dee2e6;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.box ul li.label2 button:hover {
    background-color: #ced4da;
}

.box ul li.label2 #cancle {
    background-color: #dee2e6;
}

.box ul li.label2 #cancle:hover {
    background-color: #ced4da;
}
